# ignore all files by defualt 
*

# main files not to ignore
!README.md
!.gitignore
!LICENSE

# inference files not to ignore 
!inference
!inference/infer.py
!inference/server.py
!inference/roboflow_utils.py
!inference/run_redis.sh
!inference/requirements.txt
!inference/templates
!inference/templates/*
!inference/edgetpu.py

# training files not to ignore 
!train
!train/openvino_utils.py
!train/train.py
!train/augment.py


# do not ignore any models 
!models
!models/*

# do not ignore the folder data, but do ignore contents
!/data

# do not ignore labeling files
!labeling
!labeling/cluster.py
!labeling/vectorize.py
!labeling/models.py
!labeling/README.md
