# ignore all files by defualt 
*

# main files not to ignore
!README.md
!.gitignore
!LICENSE

# inference files not to ignore 
!inference
!inference/infer.py
!inference/server.py
!inference/roboflow_utils.py
!inference/run_redis.sh
!inference/requirements.txt

# training files not to ignore 
!train
!train/openvino_utils.py
!train/train.py
!train/augment.py

# do not ignore any models 
!models
!models/*

